[submodule "common"]
	path = common
	url = https://github.com/muntonialessandro/common.git
[submodule "cgal"]
	path = cgal
	url = https://github.com/muntonialessandro/cgal.git
[submodule "dcel"]
	path = dcel
	url = https://github.com/muntonialessandro/dcel.git
[submodule "viewer"]
	path = viewer
	url = https://github.com/muntonialessandro/viewer.git
[submodule "igl"]
	path = igl
	url = https://github.com/muntonialessandro/LibIGL-Module.git
