[submodule "common"]
	path = common
	url = https://github.com/muntonialessandro/Common-Module.git
[submodule "cgal"]
	path = cgal
	url = https://github.com/muntonialessandro/CGAL-Module.git
[submodule "dcel"]
	path = dcel
	url = https://github.com/muntonialessandro/Dcel-Module.git
[submodule "viewer"]
	path = viewer
	url = https://github.com/muntonialessandro/Viewer-Module.git
[submodule "igl"]
	path = igl
	url = https://github.com/muntonialessandro/LibIGL-Module.git
[submodule "eigenmesh"]
	path = eigenmesh
	url = https://github.com/muntonialessandro/EigenMesh-Module.git
