[submodule "common"]
	path = common
	url = https://github.com/muntonialessandro/common.git
[submodule "cgal"]
	path = cgal
	url = https://github.com/muntonialessandro/cgal.git
[submodule "dcel"]
	path = dcel
	url = https://github.com/muntonialessandro/dcel.git
